<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Spring MVC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">


    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
            <!--css-->
            <link href="/bootstrap513/css/bootstrap.min.css" rel="stylesheet">
            <!-- Option 1: Bootstrap Bundle with Popper -->
            <script type="text/javascript" src="/bootstrap513/js/bootstrap.bundle.min.js"></script>
            <div class="container-fluid">
                <a class="navbar-brand" href="/app/home">MVP server</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/app/testCreator">Создать тест</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/resultsOverview">Тесты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/user_info">Пользователи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app/help">help</a>
                        </li>
                    </ul>
                    <form class="navbar-nav ms-auto mb-2 mb-lg-1" th:action="@{/logout}" method="post">
                        <input class="btn btn-outline-secondary" type="submit" value="Выход"/>
                    </form>
                </div>
            </div>
        </nav>

    </body>
</html>