<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <title>Отредактировать тест</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!--css-->
        <link href="/bootstrap513/css/bootstrap.min.css" rel="stylesheet">
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script type="text/javascript" src="/bootstrap513/js/bootstrap.bundle.min.js"></script>
        <link href="/style.css" rel="stylesheet">
        <!-- JavaScript Bundle with Popper -->
        <script type="text/javascript" src="/bootstrap513/jQuery3.5.1.js"></script>

        <script type="text/javascript" src="/script.js"></script>
    </head>
    <body>

        <div th:replace="~{fragments/navbar :: navbar}"></div>


        <div class="container-sm p-3 mb-2 gradient-main text-dark" th:object="${test}">
            <div class="container-sm">
                <h1>Название теста</h1>
                <p th:text="*{test}"/>
                <h2>Описание теста</h2>
                <p th:text="*{description}"/>
            </div>

            <div th:if="${!questions.isEmpty()}">
                <div th:each="question : ${questions}">
                    <form th:action="@{/app/deleteAnswer}" th:method="post">
                        <div id="testNumber1" class="row p-5 mb-5 gradient-test text-white">
                            <div class="col-sm-10">
                                <h6>Название вопроса</h6>
                                <p th:text="${question.question}"></p>
                                <h6>Ответ</h6>
                                <p th:text="${question.response}"></p>
                                <h6>Комментарий</h6>
                                <p th:text="${question.comment}"></p>
                            </div>
                            <div class="col-sm-2" align="right" style="padding-top: 5%">
                                <a th:href="${'/app/deleteAnswer?idQuestion=' + question.id + '&idTest=' + test.idTest}"
                                   class="btn btn-danger mb-2">Удалить</a>
                                <br>
                                <a th:href="${'/app/editQuestion?idQuestion=' + question.id + '&idTest=' + test.idTest}"
                                   class="btn btn-info mb-2">Редактировать</a>
                            </div>

                        </div>
                    </form>


                </div>
                <a th:href="${'/app/addQuestion?idTest=' + test.idTest}" class="btn btn-info mb-2">Добавить вопрос</a>
            </div>
            <div th:if="${questions.empty}">Нет данных</div>
        </div>
    </body>
</html>