<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Help</title>
    </head>
    <body>
        <div th:replace="~{fragments/navbar :: navbar}"> </div>
        <div class="container">
            <h1>Релиз: 2.1.2</h1>
            <p>
                Исправление ошибок
            </p>
            <h1>Релиз: 2.1.0</h1>
            <p>
                Изменение дизайна интерфейса <br>
                Добавление функциональности для редактирования текстов
            </p>
            <h1>Релиз: 2.0.1</h1>
            <p>
                Изменение в базе данных:<br>
                * теперь используется postgres<br>
                * база данных генерируется по коду<br>
                Изменение api:<br>
                * исправлена ошибка GET<br>
                * api не протестировано и не задокументировано<br>
                Интерфейс:<br>
                * поддержка большего количество операций с тестами<br>
                * изменение вывода в форме для печати<br>
                * перенос информации об версиях на отдельную страницу
            </p>
            <h1>Релиз: 1.7.2</h1>
            <p>
                Изменение ответов API <br>
                Дополнительный вывод в консоли <br>
                Дополнительная настройка сервиса в файлах конфигурации <br>
                Фикс проблемы с отправкой писем
            </p>
            <h1>Релиз: 1.7.0</h1>
            <p>
                Изменена структура базы данных<br>
                API для сохранения результатов тестов<br>
                Исправлены проблемы с версткой
            </p>

            <h1>Релиз: 1.6.3</h1>
            <p>
                Добавлены вспомогательные страницы для администратора<br>
                Исправлены ошибки<br>
                Изменено содержание qr-кодов
            </p>

            <h1>Релиз: 1.6.2</h1>
            <p>
                Добавлена система авторизации <br>
                Дополнительный вывод в логах <br>
                Рефакторинг
            </p>

        </div>
    </body>
</html>