<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <title>Question edit</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!--css-->
        <link href="/bootstrap513/css/bootstrap.min.css" rel="stylesheet">
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script type="text/javascript" src="/bootstrap513/js/bootstrap.bundle.min.js"></script>

        <script src="/bootstrap513/jQuery3.5.1.js"></script>
        <link href="/style.css" rel="stylesheet">

        <script type="text/javascript" src="/script.js"></script>
    </head>
    <body>

        <div th:replace="~{fragments/navbar :: navbar}"></div>


        <div class="container-sm p-3 mb-2 gradient-main text-dark" th:object="${question}">
            <a scope="row" th:href="${'/app/editTest?id=' + idTest}" class="btn btn-primary mb-1 " style="padding-left: 40%; padding-right: 40%">Редактирование теста</a>
            <form th:action="${'/app/editQuestion?idTest=' + idTest}" th:method="post">
                <div class="row p-5 mb-5 gradient-test text-white ">
                    <h1 id="qiText"  th:text="${'Вопрос №' + question.idQuestion}"></h1>
                    <input type="hidden" th:field="*{idQuestion}" id="idQuestion">
                    <div class="col-sm-10" style="width: 90%">
                        <h6>Название вопроса</h6>
                        <textarea class="form-control mb-2" required="required" type="text" id="text" th:field="*{text}"/>
                        <h6>Ответ</h6>
                        <textarea class="form-control mb-2" required="required" type="text" id="answer" th:field="*{answer}"/>
                        <h6>Комментарий</h6>
                        <textarea class="form-control mb-2" required="required" type="text" id="comment" th:field="*{comment}"/>
                    </div>
                    <div class="col-sm" align="right" style="padding-top: 5%">
                        <br>
                        <button class="btn btn-info mb-2" type="submit">сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>