<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Statistics test</title>
        <!-- CSS only -->
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <div class="container-sm p-3 mb-2 gradient-main text-dark">
            <div class="row d-flex">
                <div class="container-sm">
                    <h1>Название теста</h1>
                    <p th:text="${testName}"/>
                    <h2>Описание теста</h2>
                    <p th:text="${testDescription}"/>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Имя пользователя</th>
                        <th scope="col">Почта</th>
                        <th scope="col">Время</th>
                        <th scope="col">Количество не верных ответов</th>
                        <th scope="col">Дата</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${!tests.empty}">
                    <tr th:each="test : ${tests}">
                        <td>
                            <p class="word" scope="row" th:text="${test.accountsEntity.email}"></p>
                        </td>
                        <td>
                            <p class="word" scope="row" th:text="${test.accountsEntity.username}"></p>
                        </td>
                        <td>
                            <p class="word" scope="row" th:text="${test.getTimeFormatString()}"/>
                        </td>
                        <td>
                            <p class="word" scope="row"
                               th:text="${test.getCountWrongAnswer}"/>
                        </td>
                        <td><p class="word" scope="row" th:text="${test.getDate()}"></p></td>
                    </tr>
                    </tr>
                    <td th:if="${tests.empty}" colspan="2">Нет данных</td>
                </tbody>
            </table>
        </div>
    </body>
</html>