<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <title>Создать тест</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link href="/style.css" rel="stylesheet">

        <link href="/bootstrap513/css/bootstrap.min.css" rel="stylesheet">

        <script type="text/javascript" src="/bootstrap513/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/bootstrap513/jQuery3.5.1.js"></script>
        <script type="text/javascript" src="/script.js"></script>

    </head>
    <body>

        <div th:replace="~{fragments/navbar :: navbar}"></div>


        <div class="container-sm p-3 mb-2 gradient-main text-dark">
            <form method="POST"
                  action="/app/testAdd"
                  name="map">

                <h1>Название теста</h1>
                <input id="testName" name="testName" class="form-control" required="required" type="text">
                <h2>Описание теста</h2>
                <input id="testDescription" name="testDescription" class="form-control" required="required" type="text">
                <br>


                <div id="test">
                    <div id="testNumber1" class="container p-5 mb-5 gradient-test text-white ">
                        <h1 id="qiText">Вопрос №1</h1>
                        <input id="question1" name="nameQ_1" class="form-control mb-2" required="required" type="text">
                        <h6>Название вопроса</h6>
                        <input id="response1" name="nameR_1" class="form-control mb-2" required="required" type="text">
                        <h6>Ответ</h6>
                        <input id="comment1" name="nameC_1" class="form-control mb-2" required="required" type="text">
                        <h6>Комментарий</h6>
                    </div>
                </div>

                <div class="col text-center">
                    <button id="addCaseTest" type="button" class="btn btn-outline-primary">Добавить вопрос</button>
                </div>
                <br>
                <div class="col text-center">
                    <button id="endTest" type="submit" class="btn btn-outline-success">Сохранить</button>
                </div>
            </form>
        </div>
    </body>
</html>